---
import JTBIPhaseOneTagline from '../../assets/images/logos/jtbi-phase1-tagline.svg'
---

<footer class="bg-primary text-base-100 py-(--site-padding-lg)">
  <div class="px-(--site-padding-base) flex flex-col items-center md:items-start gap-8">
    <JTBIPhaseOneTagline class="mx-auto max-w-screen-lg" />

    <small class="text-base-100/60"
      >© {new Date().getFullYear()} JTB Imaginative LLC. All rights reserved.</small
    >
  </div>
</footer>
